<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tugasakhir">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TugasAkhir"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".LihatTiket"
            android:parentActivityName=".History" />
        <activity
            android:name=".Pesantiket"
            android:parentActivityName=".Home" />
        <activity
            android:name=".History"
            android:parentActivityName=".Home" />
        <activity
            android:name=".CekTiket"
            android:parentActivityName=".Home" />
        <activity android:name=".Home" />
        <activity
            android:name=".Register"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>